//COLORS
$color-primary: #55c57a;

//$color-primary-light: #7ed56f;
//$color-primary-dark: #28b485;
//$color-primary-light: #946cff; - violet
//$color-primary-dark: #8e30fa; - violet
$color-primary-light: #ff7269;
$color-primary-dark: #ce3c62;

//$color-secondary-light: #ffb900;
//$color-secondary-dark: #ff7730;
$color-secondary-light: #de8136;
$color-secondary-dark: #B53E21;

$color-ternary-light: #2998ff;
$color-ternary-dark: #5643fa;

//$color-grey-light-1: #e7e7e7;
//$color-grey-light-1: rgba(168, 30, 208, 0.28);
$color-grey-light-1: rgba(44, 34, 153, 0.2);
$color-grey-light-2: #e7e7e7;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;

$mars-primary-white: #FFFFE1;
$mars-primary-light: #de8136;
$mars-primary-midtone: #B53E21;
$mars-primary-dark: #6E161C;

//FONT
$default-fount-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;