.btn {
  font-size: $default-fount-size;

  &,
  &:link,
  &:visited {
    display: inline-block;
    //height: 6rem;
    //width: 27rem;
    padding: 1.7rem 4rem;
    border-radius: 10rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s ease-in-out;

    //Change for the button element
    border: none;
    cursor: pointer;
  }

  &:hover {
    box-shadow: 0 1rem 1rem rgba($color-black, 0.22);
    transform: translateY(-0.5rem);
  }

  &:focus,
  &:active {
    box-shadow: 0 .5rem 2rem rgba($color-black, 0.22);
    transform: translateY(-0.3rem);
    outline: none;
  }

  &--white {
    position: relative;
    background: $color-white;
    color: $color-grey-dark;

    &::after {
      background: $color-white;
    }
  }

  &--green {
    position: relative;
    background: $mars-primary-light;
    color: $color-white;

    &::after {
      background: $mars-primary-light;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 10rem;
    transition: all .4s ease-in-out;
  }

  &:hover::after {
    transform: scale(1.4);
    opacity: 0;
  }

  &--animated {
    animation: moveInBottom .5s ease-in-out .4s;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    display: inline-block;
    border-bottom: 1px solid $mars-primary-light;
    padding: 3px;
    text-decoration: none;
    font-size: $default-fount-size;
    color: $mars-primary-light;
    transition: all .2s;
  }

  &:hover {
    background: $mars-primary-light;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, .15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 .5rem 1rem rgba($color-black, .15);
    transform: translateY(0);
  }
}